body {
  font-family: monospace;
  font-size: 100px;
}

table {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  width: 125px;
  height: 125px;
  text-align: center;
  border: solid 3px black;
}
